<div class="search-bar">
    <i class="fa-solid fa-building"></i>
    <form method="GET" action="/phongban">
        <input type="text" name="q" value="<%= typeof keyword !== 'undefined' ? keyword : '' %>"
            placeholder="Tìm tên phòng ban...">
    </form>
</div>