<div class="search-bar">
    <i class="fa-solid fa-user"></i>
    <form method="GET" action="/nhanvien">
        <input type="text" name="q" value="<%= typeof keyword !== 'undefined' ? keyword : '' %>"
            placeholder="Tìm kiếm theo mã nhân viên">
    </form>
</div>